<style>
body{
  margin:0;
  font-family:Arial, sans-serif;
}
.navbar{
  background:white;
  color:rgb(8, 8, 8);
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
}
.navbar a{
  color:rgb(7, 7, 7);
  margin-left:20px;
  text-decoration:none;
}

.hero{
  height:90vh;
  background:url("images/mac.jpg") center/cover;
  display:flex;
  align-items:center;
}
